<header class="header-area transparent-bar section-padding-1">
    <div class="container-fluid">
        <div class="header-large-device">
            <div class="header-top header-top-ptb-1 border-bottom-1">
                <div class="row">
                    <div class="col-xl-4 col-lg-5">
                        <div class="header-offer-wrap">
                            <p><i class="icon-paper-plane"></i> FREE SHIPPING</p>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="header-top-right">
                            <!-- <div class="social-style-1 social-style-1-mrg">
                                <a href="#"><i class="icon-social-twitter"></i></a>
                                <a href="#"><i class="icon-social-facebook"></i></a>
                                <a href="#"><i class="icon-social-instagram"></i></a>
                                <a href="#"><i class="icon-social-youtube"></i></a>
                                <a href="#"><i class="icon-social-pinterest"></i></a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo">
                            <a  [routerLink]="['/']"><img src="assets/images/logo/logo.png" alt="logo"></a>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-7">
                        <div class="main-menu main-menu-padding-1 main-menu-lh-1">
                            <nav>
                                <ul>
                                    <li><a [routerLink]="['/']">HOME </a>
                                    </li>
                                    <li><a href="javascript:void(0)">MATERIALS </a>
                                        <ul class="sub-menu-style">
                                            <li><a [routerLink]="['/material', 'all']">All</a></li>
                                            <li><a [routerLink]="['/material', 'GTP']">GTP</a></li>
                                            <li><a [routerLink]="['/material', 'Woodin']">Woodin</a></li>
                                            <li><a [routerLink]="['/material', 'Holland']">Holland </a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0)">STYLES </a>
                                        <ul class="mega-menu-style mega-menu-mrg-1">
                                            <li>
                                                <ul>
                                                    <li>
                                                        <a class="dropdown-title" href="#">Special Occasion</a>
                                                        <ul>
                                                            <li><a [routerLink]="['/style', 'dinner']">Dinner</a></li>
                                                            <li><a [routerLink]="['/style', 'dating']">Dating</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="dropdown-title" href="#">Wedding &amp; Engagement</a>
                                                        <ul>
                                                            <li><a href="product-details.html">Wedding</a></li>
                                                            <li><a href="product-details-2.html">Engagement</a></li>
                                                            <li><a href="product-details-sticky.html">Outdooring style</a></li>
                                                            <li><a href="product-details-gallery.html">Thanksgiving </a></li>
                                                        </ul>
                                                    </li>
                                                    
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li><a href="blog.html">BLOG </a></li>
                                    <li><a [routerLink]="['/about']">ABOUT </a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3">
                        <div class="header-action header-action-flex header-action-mrg-right">
                            <div class="same-style-2 header-search-1">
                                <!-- <a class="search-toggle" href="#">
                                    <i class="icon-magnifier s-open"></i>
                                    <i class="icon_close s-close"></i>
                                </a> -->
                                <div class="search-wrap-1">
                                    <form action="#">
                                        <input placeholder="Search products…" type="text">
                                        <button class="button-search"><i class="icon-magnifier"></i></button>
                                    </form>
                                </div>
                            </div>
                            <!-- <div class="same-style-2">
                                <a href="login-register.html"><i class="icon-user"></i></a>
                            </div> -->
                            <!-- <div class="same-style-2">
                                <a href="wishlist.html"><i class="icon-heart"></i><span class="pro-count red">0</span></a>
                            </div> -->
                            <div class="same-style-2 header-cart">
                                <a class="cart-active" href="javascript:void(0)">
                                    <i class="icon-basket-loaded"></i><span class="pro-count red">{{cartTotal}}</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-small-device small-device-ptb-1">
            <div class="row align-items-center">
                <div class="col-5">
                    <div class="mobile-logo">
                        <a [routerLink]="['/']">
                            <img alt="" src="assets/images/logo/logo.png">
                        </a>
                    </div>
                </div>
                <div class="col-7">
                    <div class="header-action header-action-flex">
                        <div class="same-style-2">
                            <a href="login-register.html"><i class="icon-user"></i></a>
                        </div>
                        <div class="same-style-2">
                            <a href="wishlist.html"><i class="icon-heart"></i><span class="pro-count red">03</span></a>
                        </div>
                        <div class="same-style-2 header-cart">
                            <a class="cart-active" href="#">
                                <i class="icon-basket-loaded"></i><span class="pro-count red">02</span>
                            </a>
                        </div>
                        <div class="same-style-2 main-menu-icon">
                            <a class="mobile-header-button-active" href="#"><i class="icon-menu"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- mini cart start -->
<div class="sidebar-cart-active">
    <div class="sidebar-cart-all">
        <a class="cart-close" href="javascript:void(0)"><i class="icon_close"></i></a>
        <div class="cart-content">
            <!-- <h3>Shopping Cart</h3> -->
            <!-- <ul>
                <li class="single-product-cart">
                    <div class="cart-img">
                        <a href="#"><img src="assets/images/cart/cart-1.jpg" alt=""></a>
                    </div>
                    <div class="cart-title">
                        <h4><a href="#">Simple Black T-Shirt</a></h4>
                        <span> 1 × $49.00   </span>
                    </div>
                    <div class="cart-delete">
                        <a href="#">×</a>
                    </div>
                </li>
                <li class="single-product-cart">
                    <div class="cart-img">
                        <a href="#"><img src="assets/images/cart/cart-2.jpg" alt=""></a>
                    </div>
                    <div class="cart-title">
                        <h4><a href="#">Norda Backpack</a></h4>
                        <span> 1 × $49.00   </span>
                    </div>
                    <div class="cart-delete">
                        <a href="#">×</a>
                    </div>
                </li>
            </ul> -->
            <!-- <div class="cart-total">
                <h4>Subtotal: <span>$170.00</span></h4>
            </div> -->
            <div class="cart-checkout-btn">
                <a class="btn-hover cart-btn-style" [routerLink]="['/cart']">view cart</a>
                <a class="no-mrg btn-hover cart-btn-style" [routerLink]="['/checkout']">checkout</a>
            </div>
        </div>
    </div>
</div>
<!-- Mobile menu start -->
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="clickalbe-sidebar-wrap">
        <a class="sidebar-close"><i class="icon_close"></i></a>
        <div class="mobile-header-content-area">
            <div class="header-offer-wrap mobile-header-padding-border-4">
                <p><i class="icon-paper-plane"></i> FREE SHIPPING </p>
            </div>
            <div class="mobile-search mobile-header-padding-border-1">
                <form class="search-form" action="#">
                    <input type="text" placeholder="Search here…">
                    <button class="button-search"><i class="icon-magnifier"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-padding-border-2">
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><a [routerLink]="['/']">Home</a>
                             
                        </li>
                        <li class="menu-item-has-children "><a href="#">Wardrobe</a>
                            <ul class="dropdown">
                                <li>
                                    <ul>
                                        <li>
                                            <a class="dropdown-title" href="#">Special Occasion</a>
                                            <ul>
                                                <li><a href="shop.html">Diner</a></li>
                                                <li><a href="shop.html">Date</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="dropdown-title" href="#">Wedding &amp; Engagement</a>
                                            <ul>
                                                <li><a href="product-details.html">Wedding</a></li>
                                                <li><a href="product-details-2.html">Engagement</a></li>
                                                <li><a href="product-details-sticky.html">Outdooring style</a></li>
                                                <li><a href="product-details-gallery.html">Thanksgiving </a></li>
                                            </ul>
                                        </li>
                                        
                                    </ul>
                                </li> 
                            </ul>
                        </li>
                         
                        <li ><a href="#">Blog</a>
                            
                        </li>
                        <li><a [routerLink]="['/about']">About</a></li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-contact-info mobile-header-padding-border-4">
                <ul>
                    <li><i class="icon-phone "></i> +233 (0) 247 049 416  </li>
                    <li><i class="icon-envelope-open "></i> norda@domain.com</li>
                    <li><i class="icon-home"></i> PO Box 1622 Colins Street West Australia</li>
                </ul>
            </div>
            <div class="mobile-social-icon">
                <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                <a class="pinterest" href="#"><i class="icon-social-pinterest"></i></a>
                <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
        