<app-header></app-header>
<!-- Start Introduction  -->
<div class="breadcrumb-area bg-gray">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <ul>
                <li>
                    <a [routerLink]="['/']">Home</a>
                </li>
                <li class="active">Cart Page </li>
            </ul>
        </div>
    </div>
</div>
<!-- End Introduction  -->

<!-- Start Cart  -->
<div class="cart-main-area pt-115 pb-120">
    <div class="container">
        <h3 class="cart-page-title">Your cart items</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Unit Price</th>
                                    <th>Quantity</th>
                                    <th>Subtotal</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of dataValue; let i = index">
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="{{uri}}{{item.image.split('<>')[0]}}" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#">{{item.materialName}}</a></td>
                                    <td class="product-price-cart"><span class="amount">&#8373; {{item.price}}</span></td>
                                    <td class="product-quantity pro-details-quality">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                                        </div>
                                    </td> 
                                    <td class="product-subtotal">&#8373; {{item.price}}</td>
                                    <td id="product-index" style="display: none">{{i}}</td>
                                    <td class="product-remove">
                                        <a class="close_item" href="#"><i class="icon_close"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="#">Continue Shopping</a>
                                </div>
                                <div class="cart-clear">
                                    <a (click)="clearCart()">Clear Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- <div class="cart-tax">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Estimate Transport And Tax</h4>
                            </div>
                            <div class="tax-wrapper">
                                <p>Enter your destination to get a transportation estimate.</p>
                                <div class="tax-select-wrapper">
                                    <div class="tax-select">
                                        <label>
                                            * Region / State
                                        </label>
                                        <select class="email s-email s-wid">
                                            <option>Ashanti</option>
                                            <option>Accra</option>
                                            <option>Eastern</option>
                                            <option>Central</option>
                                            <option>Westerm</option>
                                        </select>
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            *Town Name
                                        </label>
                                        <input type="text">
                                    </div>
                                    <button class="cart-btn-2" type="submit">Get A Quote</button>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="discount-code-wrapper">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code</h4>
                            </div>
                            <div class="discount-code">
                                <p>Enter your coupon code if you have one.</p>
                                <form>
                                    <input type="text" required="" name="name">
                                    <button class="cart-btn-2" type="submit">Apply Coupon</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                            </div>
                            <h5>Total products <span>GHC {{subTotal}}</span></h5>
                            <div class="total-shipping">
                                <h5>Free transport</h5>
                                <ul>
                                    <li><input type="checkbox"> Across Ghana <span>GHC 0.00</span></li>
                                   
                                </ul>
                            </div>
                            <h4 class="grand-totall-title">Grand Total <span>GHC 0.00</span></h4>
                            <a [routerLink]="['/checkout']">Proceed to Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Cart  -->
<app-footer></app-footer>